.d-green {
    background-color: #379683;
}

.green {
    background-color: #5CDB95;
    color: white;
}

.l-green {
    background-color: #8EE4AF;
}

.white {
    background-color: #EDF5E1;
}

.blue {
    background-color: #05386B;
}
