/* NAVBAR STYLES */

#skillsAsync {
    min-height: 250px;
    margin: 10% 0 10% 0;
}

#skillsAsync svg,img{
    display: inline-block;
    margin: auto;
    width: 20%;
    padding-right: 1rem;
    vertical-align: middle;
}

#skillsAsync svg,img:first-child{
    padding-left: 1rem;
}