/* NAVBAR STYLES */

#navbar {
    height: 4rem;
    background-color:white;
    margin-top: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
}

#name {
    font-weight: 900;
    width: 100%;
    text-align: right;
    margin: 0.7rem 0 0 -0.7rem;
}

#navbar button {
    visibility: hidden;
}

#navbar ul {
    float: right;
    list-style-type: none;
    margin: 0.7rem;
    padding: 0;
    height: 5rem;
}

#navbar li {
    display: inline-block;
    padding-left: 0.7rem;
}

#navbar a {
    font-size: 0.9rem; 
    color: black;
    text-decoration: none;
}

#navbar a:hover {
    text-shadow: 0 0 1px rgba(0,0,0,.5);
}

.active {
    background-color: #d78f1b6e;
}

/* CONTENT STYLES */
#mainContent {
    margin-top: 4rem;
    width: 100%;
}

.blackBg {
    background-color: black;
    color: white;
}

.content {
    min-height: 20rem;
}

.experience {
    min-height: 5rem;
    font-weight: bold;
}

/* GENERAL STYLES */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

body {
    margin: 0;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 1.4rem;
    height: 3rem;
    font-size: 2.0em;
    font-weight: 900;
    line-height: 1.4;
}

