/* GENERAL STYLES */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

body {
    margin: 0;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 1.4rem;
    height: 2rem;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.4;
    margin-top:0;
}

h3 {
    font-size: 0.9em;
    font-weight: 300;
    margin: 0;
}

.active {
    font-weight: 800;
}

/* NAVBAR STYLES */

#navbar {
    height: 4rem;
    background-color:white;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 3;
}

#name {
    font-weight: 900;
    width: 100%;
    text-align: right;
    margin: 0.7rem 0 0 -0.7rem;
}

#navbar button {
    visibility: hidden;
}

#navbar ul {
    float: right;
    list-style-type: none;
    margin: 0.7rem;
    padding: 0;
    height: 5rem;
}

#navbar li {
    display: inline-block;
    padding-left: 0.7rem;
}

#navbar a {
    font-size: 0.9rem; 
    color: black;
    text-decoration: none;
}

#navbar a:hover {
    text-shadow: 0 0 1px rgba(0,0,0,.5);
}

/* CONTENT STYLES */
#mainContent {
    width: 100%;
    margin: 4rem auto;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    z-index: 2;
    position: relative;
}

.section{
    display: inline-block;
    position: relative;
}

.section>div {
    margin-bottom: 2rem;
}

.blocks>div {
    min-height: 25rem;
}

.content {
    margin: auto 2rem auto 2rem;
    line-height: 1.5rem;
}

.card {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
}

.blocks {
    width: 60%;
}

.experience {
    min-height: 5rem;
    font-weight: bold;
}

/* CARD STYLES */
#card {
    top: 6rem; 
    position: sticky;
    position: -webkit-sticky;
}

#cvPhoto {
    text-align: center;
    width: 100%;
    margin-top: -5rem;
    min-height: 12rem;
}

#cvPhoto img{
    width: 8rem;
    margin-top: 1rem;
}

#cvPhoto h2 {
    margin-bottom: 0rem;
}

#cvBg {
    background-image: url('./background.png');
    height: 7rem;
}

#iconList {
    margin-top: .5rem;
    text-align: center;
    padding-bottom: 1rem;
}

#iconList svg {
    width: 1rem;
}

#iconList a {
    display: inline-block;
    margin-right: .5rem;
}

#iconList a:visited {
    color: inherit;
}